.display {
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 230px;
  margin-top: 25px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

/* show heading of options */
.head-name {
  margin-top: 0px;
}
/* show icons of options */
.icon-name {
  margin-top: -20px;
  width: 100px;
  height: 100px;
}

/* show blank div on options select */
.blank-div {
  width: 270px;
  height: 230px;
  background-color: #e3f2fd;
  padding-top: 30px;
  justify-content: center;
  text-align: center;
}

/* .empty-text {
  margin: 5px;
  text-align: center;
} */
