/* whole navigation bar */
.bar {
  margin-top: -1px;
  display: flex;
  width: 270px;
  height: 20px;
  min-height: 20px;
  background-color: #f6f6f6;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* ipod logo */
.heading {
  margin: 0px;
  margin-left: 3px;
  margin-top: 2px;
  padding: 0px;
}

/* time */
.time {
  padding: 0px;
  margin-left: 67px;
}

/* battery icon */
.battery {
  width: 22px;
  height: 20px;
  margin-left: auto;
  margin-right: 3px;
}
.apple-logo {
  margin: 3px 4px;
  width: 17px;
  height: 15px;
}
.wifi {
  margin: 3px 2px;
  width: 14px;
  height: 13px;
}
/* container for battery and play pause icon */
.right-container-nav {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

/* play pause icon in right */
.play-pause-nav {
  font-size: 15px;
  margin: 0px;
  margin-right: 8px;
  padding: 0px;
  text-align: center;
  color: #039be5;
}

/* notification */
.notification {
  color: #039be5;
  margin: 1px;
  margin: auto;
  padding: 0px;
  text-align: center;
}
