/* Container for menu */
.menu-container{
    display: flex; 
}

/* Menu options */
.menu{
    background-color: #E3F2FD;
    height: 208px;
    width: 135px;
    border-right: 1px solid black;
}

/* container for Leaf images in menu */
.leaf{
    background-color: #E3F2FD;
    height: 208px;
    width: 135px;
}

/* Heading of menu */
h3{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* List for menu items */
ul{
    width: 100%;
    padding: 0px;
    list-style: none;
}

/* list item */
li{
    padding: 9px 0px;
}

/* Active list item */
.active{
    position: relative;
    background-color: rgb(55, 150, 220);
    color: white;
}

/* Arrow sign after list item */
.active::after{
    position: absolute;
    content: "\276F";
    right: 5px;
    font-size: 12px;
}

/* Leaf image */
.leaf-img{
    margin:0px;
    height: 100.5%;
    width: 100%;
}